.button2.button2 {
  left: 16px;
  top: 609px;
}
.button {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._StatusBarTime._StatusBarTime {
  left: calc(50% - 135.5px);
  top: 14px;
  transform: translateX(-50%);
}
._941 {
  color: #282a31;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 0;
  top: 1px;
  width: 54px;
  height: 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.root {
  position: relative;
  width: 375px;
  height: 812px;
  align-items: flex-start;
  border-radius: 24px;
  background-color: #fff;
  overflow: hidden;
}
.homeIndicator {
  position: absolute;
  left: 50%;
  top: 776px;
  width: 375px;
  height: 36px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.homeIndicator2 {
  position: absolute;
  left: calc(50% - -0.5px);
  bottom: 8px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #282a31;
  transform: translateX(-50%);
}
.rectangle66 {
  position: absolute;
  left: 16px;
  top: 525px;
  width: 343px;
  height: 72px;
  border-radius: 12px;
  background-color: #f3f6fa;
}
.messageToTheRecipient {
  opacity: 0.3;
  color: #282a31;
  font-size: 13px;
  line-height: 16px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 28px;
  top: 537px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.commissionIsNotChargedByTheBan {
  opacity: 0.3;
  color: #282a31;
  font-size: 13px;
  line-height: 16px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 477px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._100 {
  color: #282a31;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 436px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sum {
  opacity: 0.6;
  color: #282a31;
  font-size: 13px;
  line-height: 16px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 412px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle68 {
  opacity: 0.06;
  position: absolute;
  left: 16px;
  top: 468px;
  width: 343px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  background-color: #282a31;
}
._9955597288 {
  color: #282a31;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 367px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.aleksandr {
  opacity: 0.6;
  color: #282a31;
  font-size: 13px;
  line-height: 16px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 16px;
  top: 343px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle682 {
  opacity: 0.06;
  position: absolute;
  left: 16px;
  top: 399px;
  width: 343px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  background-color: #282a31;
}
.group237 {
  position: absolute;
  left: 167px;
  top: 305px;
  width: 127px;
  height: 6px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.Card {
  position: absolute;
  left: 16px;
  top: 100px;
  width: 343px;
  height: 193px;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #49b1ff;
  background-image: radial-gradient(
      ellipse 261.2009015553749px 380.54626956726565px at 339.42009375600395px 77.35796671396184px,
      #0063ffff 0%,
      #0055dcff 100%
    ),
    radial-gradient(
      ellipse 288.1232975919382px 337.3429166699631px at 13.772761650599563px 57.32804292353775px,
      #ff7a00ff 0%,
      #ff7a0000 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, auto;
  overflow: hidden;
}
.rectangle1035 {
  position: absolute;
  left: 150px;
  top: -36px;
  width: 340px;
  height: 271px;
  border-radius: 11000px 0 1111111px;
  background-color: #49b1ff;
}
._3040 {
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 13px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff9;
  font-size: 13px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #fff9;
  font-size: 13px;
  font-weight: bold;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.expiry {
  position: absolute;
  right: 24px;
  bottom: 49px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 13px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #fff9;
  font-size: 13px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #fff9;
  font-size: 13px;
  font-weight: bold;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label5 {
  color: #fff9;
  font-size: 13px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
._1000 {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 24px;
  top: 44px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.salaryCard {
  color: #a2c8fb;
  font-size: 13px;
  font-weight: 600;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 24px;
  top: 24px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.visa_Inc_logo1 {
  position: absolute;
  left: 114px;
  top: 148px;
  width: 61px;
  height: 19px;
  overflow: hidden;
}
.icon_Visa {
  position: absolute;
  left: 24px;
  top: 149.9999px;
  width: 61px;
  height: 19px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.translate {
  color: #282a31;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.408px;
  position: absolute;
  left: 150px;
  top: 60px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.caretDown {
  position: absolute;
  left: 16px;
  top: 60px;
  width: 20px;
  height: 20px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.statusBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 48px;
  align-items: flex-start;
  overflow: hidden;
}
.rightSide {
  position: absolute;
  left: 274px;
  top: 19px;
  width: 77.4012px;
  height: 13px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
